.reactPaginate {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  list-style-type: none;

  :global {
    li {
      a {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
        border: #fe5f1e 1px solid;
        color: #fe5f1e;
        cursor: pointer;
        transition: all 0.3s;
      }

      &.previous,
      &.next,
      &.break {
        a {
          border-color: transparent;
          font-weight: bold;
          font-size: 1.7rem;
        }
      }

      &.selected,
      &:hover {
        a {
          background-color: #fe5f1e;
          border-color: transparent;
          color: white;
        }
      }

      &.disable {
        cursor: default;
      }

      &.disabled {
        a {
          opacity: 0.4;
          cursor: default;
        }
      }
    }
  }
}
