.root {
  text-align: center;
  padding: 5rem;

  .title {
    margin-bottom: 20px;
  }

  span {
    font-size: 100px;
  }
  .desc {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .btn {
    font-size: 25px;
  }
}

